.intro {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain, auto;
}

.intro__image {
  display: block;
  margin: auto;
}
